@model ReceptPage.Models.ListRecipeViewModel

<div id="receptContent">
    <a id="xDelete" asp-controller="Recipes" asp-action="Delete" asp-route-id="@Model.Id">Redigera</a>
    <br />
    <h2 id="receptTitle">@Model.NameOfPlate</h2>

    <div id="receptDisplay">
        <label id="lablPublished" asp-for="Ingredients"></label>
        <p>@Model.Ingredients</p>
        <br />
        <br />
        <hr />
        <label id="lablPublished" asp-for="HowToDo"></label>
        <p>@Model.HowToDo</p>
    </div>
    <b id="by">@Model.Name</b>
</div>

